@model PosaoViewModel

@{
  ViewBag.Title = "Ažuriranje poslova";
}

    <form asp-route-page="@ViewBag.Page"
          asp-route-sort="@ViewBag.Sort"
          asp-route-ascending="@ViewBag.Ascending"
          method="post">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="UslugaId">Usluga</label>
            <div><span asp-validation-for="UslugaId" class="text-danger"></span></div>
            <select class="form-control" asp-for="UslugaId" asp-items="ViewBag.Usluge">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="MjestoId">Mjesto</label>
            <div><span asp-validation-for="MjestoId" class="text-danger"></span></div>
            <select class="form-control" asp-for="MjestoId" asp-items="ViewBag.Mjesta">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Cijena"></label>
            <div><span asp-validation-for="Cijena" class="text-danger"></span></div>
            <input asp-for="Cijena" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Troskovi"></label>
            <div><span asp-validation-for="Troskovi" class="text-danger"></span></div>
            <input asp-for="Troskovi" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Vrijeme"></label>
            <div><span asp-validation-for="Vrijeme" class="text-danger" /></div>
            <input type="datetime-local" asp-for="Vrijeme" class="form-control" />

        </div>
        <div class="form-group">
            <label asp-for="OpremaId">Oprema</label>
            <select class="form-control" asp-for="OpremaId" asp-items="ViewBag.Oprema" multiple>
                <option disabled selected value="">Odaberite opremu</option>
            </select>


            <label asp-for="SatnicaOpreme">Satnica zaposlenika</label>
            <input type="time" class="form-control" asp-for="SatnicaOpreme" />

        </div>
        <div class="form-group">
            <label asp-for="ZaposlenikId">Zaposlenici</label>
            <select class="form-control" asp-for="ZaposlenikId" asp-items="ViewBag.Zaposlenici" multiple>
                <option disabled selected value="">Odaberite zaposlenike</option>

            </select>

            <label asp-for="SatnicaZaposlenika">Satnica zaposlenika</label>

            <input type="time" class="form-control" asp-for="SatnicaZaposlenika" />


        </div>






        <div class="text-center">
            <button class="btn btn-primary" type="submit">Spremi</button>
            <a asp-action="Index"
               asp-route-page="@ViewBag.Page"
               asp-route-sort="@ViewBag.Sort"
               asp-route-ascending="@ViewBag.Ascending"
               class="btn btn-secondary">Odustani</a>
        </div>
    </form>