

@model OzoMvc.ViewModels.PosloviViewModel;


@{
    ViewBag.Title = "Poslovi";
}

<h2>Popis poslova</h2>

<a asp-action="Create">Unos novog posla</a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-right">
</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            @{
                string[] nazivi = { "Id", "Usluga", "Mjesto","Cijena", "Troskovi","Datum",};
                for (int i = 1; i <= nazivi.Length; i++)
                {
                    <th>
                        <a asp-route-sort="@i" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == i ? !Model.PagingInfo.Ascending : true)">
                            @nazivi[i - 1]
                        </a>
                    </th>
                }
            }

        </tr>
    </thead>
    <tbody>
        
            @{
                ViewDataDictionary vdd = new ViewDataDictionary(this.ViewData);
            vdd.Add("PagingInfo", Model.PagingInfo);
            }
        @foreach (var posao in Model.Poslovi)
        {
            <partial name="Row" model="posao" view-data="vdd" />
        }
        
        
    </tbody>
</table>
