@model Oprema

@{
    ViewBag.Title = "Ažuriranje opreme";
}

    <form asp-route-page="@ViewBag.Page"
          asp-route-sort="@ViewBag.Sort" s
          asp-route-ascending="@ViewBag.Ascending"
          method="post">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="InventarniBroj" />
        @*Ne koristi se, jer se ne rekonstruira cijela država, već se samo koristi id koji je već u parametrima route*@
        @*<input type="hidden" asp-for="Naziv" />*@
        <div class="form-group">
            <label asp-for="Naziv"></label>
            <div><span asp-validation-for="Naziv" class="text-danger"></span></div>
            <input asp-for="Naziv" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="KupovnaVrijednost"></label>
            <div><span asp-validation-for="KupovnaVrijednost" class="text-danger"></span></div>
            <textarea asp-for="KupovnaVrijednost" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="KnjigovodstvenaVrijednost"></label>
            <div><span asp-validation-for="KnjigovodstvenaVrijednost" class="text-danger" /></div>
            <input  asp-for="KnjigovodstvenaVrijednost" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="VrijemeAmortizacije"></label>
            <div><span asp-validation-for="VrijemeAmortizacije" class="text-danger"></span></div>
            <input asp-for="VrijemeAmortizacije" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="VrstaId"></label>
            <div><span asp-validation-for="VrstaId" class="text-danger"></span></div>
            <select class="form-control" asp-for="VrstaId" asp-items="ViewBag.VrstaOpreme">
                <option selected value="" disabled>Odaberite vrstu</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="ReferentniId"></label>
            <div><span asp-validation-for="ReferentniId" class="text-danger"></span></div>
            <select class="form-control" asp-for="ReferentniId" asp-items="ViewBag.ReferentniTip">
                <option disabled selected value="">Odaberite vrstu</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="SkladisteId"></label>
            <div><span asp-validation-for="SkladisteId" class="text-danger"></span></div>
            <select class="form-control" asp-for="SkladisteId" asp-items="ViewBag.Skladiste">
                <option disabled selected value="">Odaberite vrstu</option>
            </select>
        </div>

        <div class="text-center">
            <button class="btn btn-primary" type="submit">Spremi</button>
            <a asp-action="Index"
               asp-route-page="@ViewBag.Page"
               asp-route-sort="@ViewBag.Sort"
               asp-route-ascending="@ViewBag.Ascending"
               class="btn btn-secondary">Odustani</a>
        </div>
    </form>