@model KategorijaPoslovaViewModel
@{
    ViewBag.Title = "KategorijaPoslova";
}

    <div class="container">
        <div class="form-group row">
            <div class="col-sm-4">

                <h2>Pregled svih kategorija poslova</h2>

                <a class="btn btn-secondary" style="margin-bottom:20px;" asp-action="Create">Unos nove kategorije posla</a>


            </div>
        </div>
        <pager page-info="@Model.PagingInfo" page-action="Index"
               page-title="Unesite željenu stranicu" class="float-right">
        </pager>
    </div>


<div class="sec">
    <table class="table table-sm table-striped table-hover" id="tablecertifikata">
        <thead>

            <tr>
                @{
                    string[] nazivi = { "Id kategorije posla", "Naziv kategorije posla" };
                    for (int i = 1; i <= nazivi.Length; i++)
                    {
                        <th>
                            <a asp-route-sort="@i" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == i ? !Model.PagingInfo.Ascending : true)">
                                @nazivi[i - 1]
                            </a>
                        </th>
                    }
                }
            </tr>

        </thead>
        <tbody>
            @foreach (var kategorijaPoslova in Model.kategorijaposlova)
            {
                <tr>
                    <td class=text-left>@kategorijaPoslova.Id</td>
                    <td class=text-left>@kategorijaPoslova.Naziv</td>



                    <td class="btn-group">
                        <a asp-action="Edit"
                           asp-route-id="@kategorijaPoslova.Id"
                           asp-route-page="@Model.PagingInfo.CurrentPage"
                           asp-route-sort="@Model.PagingInfo.Sort"
                           asp-route-ascending="@Model.PagingInfo.Ascending">
                            <class ="btn btn-sm" title="Ažuriraj">
                                <i class="fas fa-edit"></i>
                        </a>

                        <form asp-action="Delete" method="post"
                              asp-route-page="@Model.PagingInfo.CurrentPage"
                              asp-route-sort="@Model.PagingInfo.Sort"
                              asp-route-ascending="@Model.PagingInfo.Ascending">
                            <input type="hidden" name="Id" value="@kategorijaPoslova.Id" />
                            <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

@section styles{
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}

@section scripts{
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/lib/jqueryui/ui/i18n/datepicker-hr.js"></script>
    <script src="~/js/autocomplete.js"></script>


}
