@model OzoMvc.Models.ZaposlenikPosao

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ZaposlenikPosao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Satnica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Satnica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posao.Id)
        </dd>
        <dt class = "col-sm-2">
            Ime Zaposlenika
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZaposlenikNavigation.Ime) @Html.DisplayFor(model => model.ZaposlenikNavigation.Prezime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
