@model OzoMvc.ViewModels.NatjecajViewModel

@{
    ViewBag.Title = "Natječaj broj " + @Model.Id;
}

            
           <h3>Natječaj broj @Model.Id</h3>
 



 <div class="row justify-content-sm-center">
        
        <div class="col-sm-2">
            <b>DatumOd:</b> @Model.TrajanjeOd
        </div>
        <div class="col-sm-2">
            <b>DatumDo:</b> @Model.TrajanjeDo
        </div>
        
        
           <div class="col-sm-2">
            <b>Naša usluga:</b> @Model.Naziv
        </div>
           <div class="col-sm-2">
           <b>Naša ponuda:</b> @Model.Ponuda.ToString("C2")
        </div>
        
        @{Model.Dobiven="Da"; }
        @foreach(var stavka in Model.Stavke){
            @if(stavka.DobivenNatjecaj==true){
                    Model.Dobiven="Ne";
            
       
        break;
            }
        }
                   <div class="col-sm-2">
           <b>Dobiven natječaj:</b> @Model.Dobiven
        </div>
    
        <div class="row">
        <div class="col-sm-2 ">
            <a asp-action="Edit"
               asp-route-id="@Model.Id"
               target="_blank"
               class="btn  btn-sm btn-secondary" title="Ažuriraj"><i class="fas fa-edit"></i></a>
        </div>
        
        <div class="col-sm-2">
        <form asp-action="Delete" method="post"
              asp-route-page="@ViewBag.Page"
              asp-route-sort="@ViewBag.Sort"
              asp-route-ascending="@ViewBag.Ascending" 
              asp-route-filter="@ViewBag.Filter">
            <input type="hidden" name="Id" value="@Model.Id" />
            <button type="submit" class="btn btn-sm btn-secondary delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
        </form>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-sm btn-secondary cancel"
               asp-action="Index"
               asp-route-page="@ViewBag.Page"
               asp-route-sort="@ViewBag.Sort"
               asp-route-ascending="@ViewBag.Ascending"
               asp-route-filter="@ViewBag.Filter"
               title="Povratak na popis natječaja">
                <i class="fas fa-undo-alt"></i>
            </a>
        
        </div>
        </div>
        </div>
       
        <div class="sec" >
        <table class="table table-striped">
            <thead>
                <tr>
                    @{
                        string[] nazivi = {"Ponuđivač", "Cijena Ponude", "Dobiven Natječaj" };
                        for (int i = 0; i < nazivi.Length; i++)
                        {
                            <th >
                                @nazivi[i]
                            </th>
                        }
                    }
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var stavka in Model.Stavke)
                {
                    <tr>
                    
                        <td>
                            @stavka.Ponudjivac
                        </td>
                        <td >
                            @stavka.CijenaPonude.ToString("C2")
                        </td>
                        
                            @if(stavka.DobivenNatjecaj==true){
                               <td>Da</td>
                            }
                            @if(stavka.DobivenNatjecaj==false){
                               <td >Ne</td>
                            }
                        
                       
                    </tr>
                }
            </tbody>
        </table>
        </div>

 