@model Zaposlenik
@{
    ViewBag.Title="Ažuriranje zaposlenika";
}

<div id ="main">
     <h3>Unesite novog zaposlenika</h3>
<form
    asp-route-page="@ViewBag.Page"
    asp-route-sort="@ViewBag.Sort"
    asp-route-ascending="@ViewBag.Ascending"
    asp-route-filter="@ViewBag.Filter"
    asp-action="Edit"
    method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Ime"></label>
        <div><span asp-validation-for="Ime" class="text-danger"></span></div>
        <input asp-for="Ime" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Prezime"></label>
        <div><span asp-validation-for="Prezime" class="text-danger"></span></div>
        <input asp-for="Prezime" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="DatumRodjenja"></label>
        <div><span asp-validation-for="DatumRodjenja" class="text-danger"></span></div>
        <input asp-for="DatumRodjenja" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="MjesecniTrosak"></label>
        <div><span asp-validation-for="MjesecniTrosak" class="text-danger"></span></div>
        <input asp-for="MjesecniTrosak" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="MjestoId"></label>
        <div><span asp-validation-for="MjestoId" class="text-danger"></span></div>
        <select class="form-control" asp-for="MjestoId" asp-items="ViewBag.Mjesta">
            <option disabled selected value="">Odaberite mjesto</option>
        </select>
    </div>
   <div class="text-center">
    <button class="btn btn-dark" type="submit">Spremi</button>
    <a asp-action="Index"
       asp-route-page="@ViewBag.Page"
       asp-route-sort="@ViewBag.Sort"
       asp-route-ascending="@ViewBag.Ascending"
       asp-route-filter="@ViewBag.Filter"
       class="btn btn-secondary">Odustani</a>
  </div>

</form>
</div>