@model OzoMvc.ViewModels.ZaposleniciViewModel

@{
    ViewData["Title"] = "Popis zaposlenika";
} 

<h3>Pregled svih zaposlenika</h3>
    <br />
    
<div class="container">
    <div class="form-group row">
        <div class="col-sm-3">
         <a asp-action="Create" type="submit"><i class="fas fa-user-plus fa-lg"></i></a>
        </div>
            <div class="col-sm-7">
                <partial name="KriterijPretrage" model="Model.Filter" />
            </div>
    </div>
     <pager page-info="@Model.PagingInfo" model="Model.Filter" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-right "></pager>
</div>
 

<div class="sec">
<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>    
            <th class="text-center">
                <a asp-route-sort="1"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)"
                   asp-route-filter="@Model.Filter"
                >Id</a>
                </th>
            <th class="text-center">
                <a asp-route-sort="2"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)"
                   asp-route-filter="@Model.Filter"
                >Ime</a>
                   </th>
            <th class="text-center">
                <a asp-route-sort="3"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)"
                   asp-route-filter="@Model.Filter"
                >Prezime</a>
                </th>
                <th class="text-center">
               Datum rođenja
            </th>
            <th class="text-center">
                <a asp-route-sort="4"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? !Model.PagingInfo.Ascending : true)"
                   asp-route-filter="@Model.Filter"
                >Mjesto</a>
                </th>
            <th class="text-center">
                <a asp-route-sort="5"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort == 5 ? !Model.PagingInfo.Ascending : true)"
                   asp-route-filter="@Model.Filter"
                >Mjesečni trošak</a></th>
            
        </tr>    
    </thead>
    <tbody>
        @foreach(var zaposlenik in Model.Zaposlenici)
        {
        <tr>
            <td class="text-center">@zaposlenik.Id</td>
            <td class="text-center">@zaposlenik.Ime</td>
            <td class="text-center">@zaposlenik.Prezime</td>
            <td class="text-center">@zaposlenik.DatumRodjenja.ToString("dd.MM.yyyy")</td>
            <td class="text-center">@zaposlenik.Naziv</td>
            <td class="text-center">@zaposlenik.MjesecniTrosak KM</td>

            <td class="btn-group">
                <a asp-action="Edit"
                   asp-route-id="@zaposlenik.Id"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route.ascending="@Model.PagingInfo.Ascending"
                   asp-route-filter="@Model.Filter"
                   class="btn bt-sm " title="Ažuriraj">

                    <i class="fas fa-edit"></i>

                </a>

                <form asp-action="Delete" method="post"
                      asp-route-page="@Model.PagingInfo.CurrentPage"
                      asp-route-sort="@Model.PagingInfo.Sort"
                      asp-route.ascending="@Model.PagingInfo.Ascending"
                      asp-route-filter="@Model.Filter">
                    <input type="hidden" name="Id" value="@zaposlenik.Id" />
                    <button type="submit" class="btn btn-sm delete" title="Obriši">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>

        </tr>
        }
    </tbody>
</table>
</div>
@section styles{
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}

@section scripts{
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/lib/jqueryui/ui/i18n/datepicker-hr.js"></script>
    <script src="~/js/autocomplete.js"></script>
}
